.homeback_tablet {
  background-color: antiquewhite;
}

.hometitle_tablet {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url(../media/background.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.title-text_tablet {
  justify-content: center;
  padding-left: 4rem;
  padding-top: 1.6rem;
  font-size: 5rem;
}

.titleex-text_tablet {
  height: 100vh;
  padding-top: 2rem;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
}

.homeback_mobile {
  background-color: antiquewhite;
}

.hometitle_mobile {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url(../media/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title-text_mobile {
  padding-left: 4rem;
  padding-top: 12rem;
  font-size: 5rem;
}

.titleex-text_mobile {
  height: 100vh;
  padding-top: 2rem;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
}

.homeback_desktop {
  background-color: antiquewhite;
}

.hometitle_desktop {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url(../media/background.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.title-text_desktop {
  padding-left: 4rem;
  padding-top: 1.6rem;
  font-size: 5rem;
}

.titleex-text_desktop {
  height: 100vh;
  padding-top: 2rem;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
}
