.bar {
  border-bottom: 1px solid gray;
  flex-direction: row;
}

.title-header {
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.title-logo {
  height: 68px;
  width: auto;
  padding-right: 20px;
}

.tltle-text {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

.title-text2:hover {
  color: gray;
  transition: 0.4s;
}

.Products-Box {
  width: 130px;
  text-align: center;
  height: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Products {
  background-color: black;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
  height: 0;
  position: absolute;
  z-index: 5;
  overflow: hidden;
  transition: all 0.5s ease;
}

.Product-text {
  height: 50px;
  line-height: 50px;
  background: #4f7aca;
}

.Products-Box:hover > .Products {
  height: 200px;
}

.Product-text:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.introduction {
  padding-left: 20px;
}
