.product {
  background-color: antiquewhite;
  background-size: 100%;
}

.producttitle {
  text-align: center;
  height: 100vh;
  color: black;
  padding-top: 4rem;
  font-size: 6rem;
}

.product_image {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.product_text {
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
}

.imageempty {
  width: 3rem;
}

.product_1 {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
}

.p1_1 {
  height: auto;
  width: 27rem;
}

.p1_2 {
  height: auto;
  width: 27rem;
}

.product_2 {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
}

.p2_1 {
  height: auto;
  width: 27rem;
}

.p2_2 {
  height: auto;
  width: 27rem;
}

.product_3 {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
}

.p3_1 {
  height: auto;
  width: 27rem;
}

.p3_2 {
  height: auto;
  width: 27rem;
}
